*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left{
  float: left;
}

a{
  text-decoration: none;
  color: green;
}

a:hover{
  text-decoration: underline;
}

h1, h2, h3{
  color: #291d1f;
}
/********************** General Rules End **********************/

/********************** Body Start **********************/
body{
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/natural-pattern.png);
  background-size: cover;
  background-position: center;
}
/********************** Body End **********************/

/********************** Container Start **********************/
.container{
  width: 1000px;
  margin: 20px auto;
  /* delete */
  /* height: 900px; */
  /* background-color: rgb(210, 179, 219); */
}
/********************** Container End **********************/

/********************** Header Start **********************/
header{
  /* delete this below */
  /* height: 400px; */
  box-shadow: 0 4px 10px rgba(45,45,45,.4);
  /* background-color: rgb(155, 86, 210); */
}

.header-top{
  height: 360px;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid white;
  position: relative;
  text-align: center;
  /* delete this below */
  /* width: 100%; */
  /* background-color: rgb(193, 104, 93); */
}

.header-image-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}

.header-image-logo img{
  width: 50%;
}

.header-image-logo h2{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

nav{
  text-align: center;
  background-image: linear-gradient(to right bottom, #1f1b1b, #403c3f, #626166, #85898e, #aab4b6);
  /* delete this below */
  /* background-color: #666666; */
}

nav .menu{
  list-style: none;
}

nav .menu li{
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
}

nav .menu li a{
  color: white;
}

nav .menu li:hover{
  background-color: lightgrey;
  transition: background-color .15s ease-in-out;
}
/********************** Header End **********************/


/********************** Main Start **********************/
main{
  margin: 10px 0;
  /* delete this below*/
  /* height: 600px; */
  /* background-color: rgb(113, 100, 214); */
}

main::after{
  content: "";
  display: table;
  clear: both;
}

/********************** Themes Start **********************/
.themes{
  width: 20%;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(45,45,45,.4);
  /* delete this below */
  /* height: 230px; */
}

.themes-ico{
  width: 20%;
  /* delete this below */
  /* height: 50px; */
  /* background-color: red; */
}

.themes-ico i{
  font-size: 30px;
  color: orange;
}

.themes-title{
  width: 80%;
  /* delete this below */
  /* height: 50px; */
  /* background-color: green; */
}

.themes-menu{
  list-style: none;
}

ul.themes-menu li{
  margin: 5px;
}

ul.menu li a{
  text-transform: uppercase;
}

.themes-header::after{
  content: "";
  display: table;
  clear: both;
}
/********************** Themes End **********************/

/********************** Article Start **********************/
.articles{
  width: 56%;
  margin: 0 2%;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(45,45,45,.4);
  /* delete this below */
  /* height: 400px; */
}

section.articles h1{
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #291d1f;
}

section.articles p{
  line-height: 30px;
}
/********************** Article End **********************/

/********************** Widgets Start **********************/
.widgets{
  width: 20%;
  /* delete this below */
  /* height: 230px; */
  /* background-color: rgb(221, 132, 94); */
}

.widget{
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(45,45,45,.4);
  /* delete this below */
  /* height: 230px; */
}

.widget h2{
  margin-bottom: 20px;
}

.widget p{
  line-height: 1.6;
}
/********************** Widgets End **********************/

/********************** Main End **********************/

/********************** Footer Start **********************/
footer{
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 10px rgba(45,45,45,.4);
  /* delete */
  /* height: 250px; */
}

.copyright{
  color: rgb(175, 175, 175);
  font-style: italic;
}

footer hr{
  border: 0;
  height: 2px;
  background: rgb(175, 175, 175);
}

.social-list{
  list-style: none;
}

.social-list::after{
  content: "";
  display: table;
  clear: both;
}

.social-list li{
  width: calc(100% / 3);
  padding: 40px;
}

.social-list i{
  font-size: 50px;
  color: rgb(175, 175, 175);
}

.social-list li:hover{
  background-color: lightgrey;
  transition: background-color .15s ease-in-out;
  cursor: pointer;
}
/********************** Footer End **********************/
